.google-map-container{
    width: 100%;
    display: block;
    align-items: stretch;
}

.google-map-wrapper{
    display: flex;
    width: 100%;
}

.btn-circle {
  width: 74px;
  height: 74px;
  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  line-height: 1.42;
  border-radius: 37px;
}