@brown1: #3A1F07;
@brown2: #60401C;
@brown3: #7E5819;
@brown4: #987230;
@brown5: #B08C4E;

/*@brown: darken(#3A1F07, 4%);*/
@brown: darken(#4A2F2c, 4%);

@green: fade(green, 70%);
@red: fade(red, 70%);

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: white;
}

hr {
	opacity: 0.2;
}


router-view{
	flex: auto;
	overflow-y: auto;
	display: flex;
}

.add-form{
	display: block;
	width: 100%;
	background: @brown;
	&.padded {
		padding: 3rem;
	}
}

.settings {
	padding: 1.5rem 4rem;
	background: darken(@brown, 2%);
	font-size: 1.2em;
	color: lighten(@brown5, 0%);
	text-align: center;
	.glyphicon {
		margin-top: 3px; /* position fix */
	}
	a, a:visited, a:active  {
		color: lighten(@brown5, 0%);
	}
	.back {
		float: left;
	}
	.user {
		float: right;
	}
}
.menu {
	padding: 2rem 4rem;
	background: darken(@brown, 5%);
	font-size: 1.2em;
	a, a:visited, a:active  {
		color: white;
		display: inline-block;
		padding: 1.5rem 2rem;
		width: 100%;
	}
}

.add {
	position: absolute;
	bottom: 2rem;
	&.bin {
		right: 2rem;
	}
	&.poo {
		left: 2rem;
	}
}

.post {
	margin: 2rem;
	text-align: center;
	border-radius: 3px;
	&.item {
		background: fade(white, 5%);
		font-size: 2em;
		color: white;
		overflow: hidden;
		.glyphicon {
			padding: 7rem;
		}
		.big-icon {
			position: absolute;
			left: 50%;
			margin-left: -80px;
			opacity: 0.1;
		}
		&.photo {
			.glyphicon {
				color: fade(white, 50%);
			}
		}
		&.half {
			height: auto;
			padding: 1rem 2rem;
			text-align: left;
			font-size: 1.5em;
			img {
				margin-right: 2rem;
			}
			&.bad {
				background: @red;
			}
			&.good {
				background: @green;
			}
		}
	}
	&.button {
		font-size: 2em;
		padding: 2rem;
		&.ok {
			background: @green;
			color: white;
		}
		&.delete {
			background: @red;
			color: white;
		}
	}
}

.clickable{
	cursor: pointer;
}

/* MENU SUB-PAGES */
.fb-login {
	display: inline-block;
	margin: 2rem;
	text-align: center;
	border-radius: 3px;
	padding: 1rem 3rem;
	text-align: left;
	font-size: 1.5em;
	background: #3b5998;
	img {
		margin-right: 2rem;
		margin-top: -7px;
	}
	&.cancel {
		background: @red;
	}
}
.fb-pic {
	/*float: left;*/
	border-radius: 50%;
	max-width: 7rem;
	margin-right: 3rem;
	margin-bottom: 2rem;
}
.fb-name {
	font-size: 2em;
}

.leaderboard {
	h3 {
		border-bottom: 2px solid white;
		padding-bottom: 0.5rem;
	}
	span {
		font-size: 1.5em;
	}
	.fb-pic {
		margin-top: 1rem;
		/*margin-left: 1rem;*/
		margin-right: 1rem;
		max-width: 4rem;
	}
}