@brown1: #3A1F07;
@brown2: #60401C;
@brown3: #7E5819;
@brown4: #987230;
@brown5: #B08C4E;

/*@brown: darken(#3A1F07, 4%);*/
@brown: darken(#4A2F2c, 4%);

@green: fade(green, 70%);
@red: fade(red, 70%);

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

router-view{
	flex: auto;
	overflow-y: auto;
	display: flex;
}

.add-form{
	display: block;
	width: 100%;
}

.settings {
	padding: 1.5rem 4rem;
	background: darken(@brown, 2%);
	font-size: 1.2em;
	color: lighten(@brown5, 0%);
	text-align: center;
	.glyphicon {
		margin-top: 3px; /* position fix */
	}
	.back {
		float: left;
	}
	.user {
		float: right;
	}
}


.add {
	position: absolute;
	background: @green;
	color: white;
	font-size: 3em;
	width: 8rem;
	height: 8rem;
	text-align: center;
	border-radius: 50%;
	bottom: 2rem;
	&.bin {
		right: 2rem;
	}
	&.poo {
		left: 2rem;
	}
	.glyphicon {
		padding-top: 0.4em;
	}
}

.post {
	margin: 2rem;
	text-align: center;
	border-radius: 3px;
	&.item {
		background: fade(white, 5%);
		font-size: 6em;
		color: lighten(@brown5, 0%);
		height: 16rem;
		.glyphicon {
			vertical-align: bottom;
		}
		&.photo {
			background: url('https://il-rockisland.civicplus.com/images/pages/N754//50-50-Sidewalk-and-Curb-Program.JPG');
			.glyphicon {
				color: fade(white, 50%);
			}
		}
		&.half {
			height: auto;
			padding: 1rem 2rem;
			text-align: left;
			font-size: 1.75em;
			.glyphicon {
				font-size: 1.5em;
				padding-right: 2rem;
			}
		}
	}
	&.button {
		font-size: 2em;
		padding: 2rem;
		&.ok {
			background: @green;
			color: white;
		}
		&.delete {
			background: @red;
			color: white;
		}
	}
}