<template>
	<div class="add-form padded">
		<h3>O APLIKACI</h3>
		<p>
			Zadávejte hovínka a koše na hovínka (psí). Aplikace právě vzniká na #praguehacks. 
		</p>
		<hr>
		<h3>NÁPOVĚDA</h3>
		<h4>HOME</h4>
		<p>K dispozici jsou dvě tlačítka: přidat hovínko a přidat koš. Tím se vytvoří nová položka na mapě. Dále jdou rozklikávat aktuální položky na mapě a tam upravovat stav košů.</p>
		<p>Mapa ukazuje pozice hovínek a košů pro jejich úklid. Koše mají dva speciální stavy: zelený = dostatek pytlíků / červený = nedostatek pytlíků. Neoznačený znamená, že informace nebyla zadána, nebo vypršela její platnost. Hodně hovínek na jednom místě se sloučí do "clusteru", kvůli přehlednosti mapy. Hovínka se po čase bez updatu smažou, předpokládá se déšť nebo úklid.</p>
		<h4>PŘIDÁVÁNÍ HOVÍNEK</h4>
		<p>Mapa si sama načte adresu. Doporučuje se přidat fotku, mapa se pak načte podle fotky - to umožňuje přidávat fotky z galerie později. Potvrzením se uloží do databáze.</p>
		<h4>PŘIDÁVÁNÍ KOŠŮ</h4>
		<p>Mapa si sama načte adresu. Doporučuje se přidat fotku, mapa se pak načte podle fotky - to umožňuje přidávat fotky z galerie později. Vybráním stavu se uloží do databáze.</p>
		<h4>UPDATE STAVU KOŠŮ</h4>
		<p>V náhledu pod fotkou stačí kliknout na aktuální stav, uloží se ihned.</p>
	</div>
</template>