<template>
	<!-- POST HOVNO -->
	<div class="container add-form">
		<div class="post item">
			<span class="glyphicon glyphicon-map-marker"></span>
		</div>
		<div class="post item">

			<input class="glyphicon glyphicon-camera" type="file" accept="image/*;capture=camera" name="images" multiple>
		</div>
		<div class="post item photo">
			<span class="glyphicon glyphicon-pencil"></span>
		</div>
		<div class="post item half">
			<img src="img/bin-good.svg" width="45px">
			DOST PYTLÍKŮ
		</div>
		<div class="post item half">
			<img src="img/bin-bad.svg" width="45px">
			MÁLO PYTLÍKŮ
		</div>
		<div class="post button ok">
			<span class="glyphicon glyphicon-ok"></span>
		</div>
		<div class="post button delete">
			<span class="glyphicon glyphicon-trash"></span>
		</div>
	</div>


</template>

