<template>
	<!-- POST HOVNO -->
	<div class="post item">
		<span class="glyphicon glyphicon-map-marker"></span>
	</div>
	<div class="post item">
		<span class="glyphicon glyphicon-camera"></span>
	</div>
	<div class="post item photo">
		<span class="glyphicon glyphicon-pencil"></span>
	</div>
	<div class="post item half">
		<span class="glyphicon glyphicon-thumbs-up"></span>
		JSOU
	</div>
	<div class="post item half">
		<span class="glyphicon glyphicon-thumbs-down"></span>
		NEJSOU
	</div>
	<div class="post button ok">
		<span class="glyphicon glyphicon-ok"></span>
	</div>
	<div class="post button delete">
		<span class="glyphicon glyphicon-trash"></span>
	</div>

</template>

