<link rel="stylesheet" type="text/css" href="./add.css">
<template>
	<require from="../components/map"></require>

	<!-- POST HOVNO -->
	<div class="container add-form">
		<div class="post item" show.bind="GPS">
			<map center.bind="GPS"></map>
		</div>

		<div class="post item">
			<img src="img/bin-plain.svg" class="big-icon img-responsive" width="160px" if.bind="!files">
			<span class="glyphicon glyphicon-camera clickable" if.bind="!files" onclick.call="clickInput()" ></span>
			<!--<span class="glyphicon glyphicon-camera"></span>-->
			<input class="glyphicon glyphicon-camera" type="file" accept="image/*;capture=camera" name="images"
				   onchange.call="handleOnFilesSelected($event)" multiple>

			<img class="loaded-photo" repeat.for="photo of files" au-src.bind="photo" onload.call="$parent.getGPS($event)">
		</div>
        <div show.bind="addInProgress !== true">
            <div if.bind="route.route === 'pridat-hovno'">

                <div class="post button ok clickable" onclick.call="submit()">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
            </div>

            <div class="bin" if.bind="route.route === 'pridat-kos'">
                <div class="post good item half clickable" onclick.call="submit(true)">
                    <img src="img/bin-good.svg" width="45px">
                    DOST PYTLÍKŮ
                </div>
                <div class="post bad item half clickable" onclick.call="submit(false)">
                    <img src="img/bin-bad.svg" width="45px">
                    MÁLO PYTLÍKŮ
                </div>
            </div>
        </div>
        <div show.bind="error" class="alert">
            ${error}
        </div>




	</div>


</template>

