<template>
	<div class="add-form padded text-center">
		<!-- <h1>PROFIL</h1> -->
		<h3>Nyní jste anonymní.</h3>
		<div class="fb-login">
			<!-- <span class="glyphicon glyphicon-user"></span> -->
			<img src="img/facebook.svg" width="25px">
			PŘIHLÁSIT
		</div>

		<!-- po prihlaseni -->
		<hr>

		<div class="text-left">
		<img class="fb-pic" src="https://randomuser.me/api/portraits/med/men/42.jpg">
		<span class="fb-name">Jan Pospisil</span>
		<p>Počet hovínek: 20</p>
		<p>Počet nových košů: 1</p>
		<p>Počet updatů košů: 16</p>
		</div>

		<div class="fb-login cancel">
			ODHLÁSIT
		</div>

	</div>
</template>